/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

/* CSS variables */
:root {
    --primary-font: "National Park", sans-serif;
    --primary-color: #08392B; /* dark green */
    --secondary-color: #87C38F; /* light green */
    --highlight-color: #BF4E30; /* orange */
    --highlight-color-light: #F4F0BB; /*yellow*/
}

/* Global styles */
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header,
main {
    margin-top: 76px; 
}

section {
    margin-bottom: 15px;
}

h1, 
h2 {
    text-transform: uppercase;
}

.hidden-heading {
    display: none;
}

/* Buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color-light);
    background-color: var(--highlight-color-light);
    color: var(--primary-color);
    font-weight: 450;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 450;
}

.custom-button-outlined {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--highlight-color-light);
    font-weight: 450;
}

.custom-button-outlined:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 450;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
    color: var(--highlight-color-light);
}

#navbar .logo {
    width: 50px;
}

.nav-link,
.nav-item {
    color: var(--highlight-color-light);
}

/* Header */
#header h3 {
    color: var(--highlight-color);
}

/* Main */
#hero {
    height: 500px;
    /* Hero image from pexels search "trash in nature" */
    background: url("../images/hero-pexels-shvetsa-large.jpg") no-repeat center center/cover;
    position: relative;
}

#hero-text {
    /* Background-color is var(--highlight-color-light) in rgba to add semi-transparency with the last value */
    background-color: rgba(244,240,187,0.8);
    color: var(--primary-color);
    position: absolute;
    top: 20px; 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content;
    padding-top: 10px;
}

/* Introductory section */
#circle-cover-bg {
    /* Image from pexels when searching "community" */
    background: url("../images/intro-image-hands.jpg") no-repeat top center/cover;
    height: 30vw;
    width: 30vw;
    /* 50% radius to transform the image into a circle */
    border-radius: 50%;
}

#intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Reasons section */
#benefits {
    margin-top: 20px;
}

#benefits p {
    padding: 0 15px;
}

/* Events section */
#dates {
    /* Image from unsplash when searching "community" */
    background: url("../images/events-group-image.jpg") no-repeat center center/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 12px;
}

#dates div {
    color: var(--highlight-color-light);
    background-color: rgba(8, 57, 43, 0.7);
    padding: 20px;
    text-align: center;
    /* To make each div fill out its row on screens that are less than 400px wide, and also not wrap on them. */
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px; 
    -webkit-box-flex: 1; 
        -ms-flex-positive: 1; 
            flex-grow: 1;
    /* Creates a grid of the event dates over the bg image */
    border: 2px solid var(--highlight-color-light);
}

/* Gallery page */
#images img {
    width: 100%
}

#gallery {
    margin-bottom: 0;
}

/* Signup form page */
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Success page */
#success {
    padding-top: 2rem;
}

/* Footer */
footer {
    background-color: var(--primary-color);
}

#social-links {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: space-evenly; 
        -ms-flex-pack: space-evenly; 
            justify-content: space-evenly;
    list-style-type: none; 
    padding-top: 15px;
    /* Padding added to center the social link items */
    padding-right: 2rem;
}

#social-links i {
    font-size: 170%;
    color: var(--highlight-color-light);
}

#social-links i:hover {
    font-size: 170%;
    color: var(--secondary-color);
}

/* Media query: large phone or landscape screens (576px and up) */
@media screen and (min-width: 576px) {
    #images {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
}

/* Media query: tablets (768px and up) */
@media screen and (min-width: 768px) {
    #images {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
}

/* Media query: large devices (992px and up) */
@media screen and (min-width: 992px) {
    #images {
        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
    }
}